.banner { background-image: url(../../assets/bank-tree.jpeg); 
    background-position: 0% 33%;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 25rem;
    position: relative; 
}